* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 430px;
  height: 932px;
  font-family: "PT Sans", sans-serif;
  color: white;
  position: relative;
}
